services:
  database:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: "${DATABASE_USER}"
      POSTGRES_PASSWORD: "${DATABASE_PASSWORD}"
      POSTGRES_DB: buildfromneed
    ports:
      - "5400:5432"