version: "3"
services:
  buildfromneedbackend:
    build:
      context: .
    ports:
      - "9000:9000"
    depends_on:
      - postgres
  postgres:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: "admin"
      POSTGRES_PASSWORD: "password"
      POSTGRES_DB: "buildfromneed"
    ports:
      - "5401:5432"